.imageBorder {
  background-color: var(--beige-main);
  border-radius: 1rem;
  padding: 2rem 2.5rem;
  box-shadow: inset 0.75rem 0.5rem var(--beige-shadow);
  margin-bottom: 1rem;;
}

.imageBackground {
  box-shadow: inset -0.5rem -0.25rem var(--beige-shadow);
  background-color: var(--blue-main);
  text-align: center;
}

.image {
  height: 10rem;
}

.attributes {
  background-color: var(--green-main);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: inset -0.5rem -0.25rem var(--green-shadow);
}

.name {
  color: var(--green-main);
  background-color: black;
  font-weight: 600;
  width: fit-content;
  padding: 0 0.25rem;
  margin-bottom: 0.25rem;
}
