@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500&family=VT323&display=swap');


a {
  text-decoration: none;
}

select {
  background-color: transparent;
  font-size: 1.25rem;
  font-family: inherit;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'VT323', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.25rem;
}
